@media screen and (max-width: 1199px) and (min-width: 768px), (max-width: 767px) {
  .inner {
    width: 97%;
  }

  .our-info__contents-box, .our-works__list, .our-works__text-box, .skills-list {
    display: block;
  }

  .our-info__contents-box__text-box, .explanation.for-works, .contact-btn.for-email, .skills-list__skill {
    margin-left: 0;
  }

  /* インフォメーション */
  .our-info {
    padding-bottom: 25px;
    text-align: center;
  }

  .our-info__contents-box__text-box {
    width: 100%;
  }

  /* 作品一覧 */
  .our-works li {
    margin: 0 auto;
    font-size: 0;
    width: 300px;
  }

  .our-works__list li:nth-child(3n+1) {
    margin-top: 80px;
    margin-left: auto;
  }

  .our-works__list li:first-child {
    margin-top: 0;
  }

  .our-works__text-box {
    width: 100%;
    text-align: center;
    padding-top: 80px;
  }

  .contact-btn.for-email {
    display: inline-block;
    margin-top: 40px;
  }

   /* スキル一覧 */
  .skills-list__skill {
    margin-top: 88px;
  }

  .skills-list__skill:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .sns-links, .hanburger-menu {
    display: block;
  }

  /* ヘッダー */
  .contact-btn {
    display: none;
  }

  .hanburger-menu {
    color: #ddd;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  /* メインタイトル */
  .main-title {
    padding: 160px 0 130px 0;
  }

  .main-title h1 {
    font-size: 80px;
  }

  /* snsナビゲーション */
  .navigation {
    padding: 50px 0;
  }

  .sns-links__link {
    display: inline-block;
    width: 100%;
  }
}
