.main-page {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

.explanation {
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.main-container {
  padding-top: 78px;
}

/* ヘッダー */
.header {
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
  position: fixed;
  z-index: 1;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999595;
}

.contact-btn {
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  transition: color 0.3s;
  font-family: 'Raleway', sans-serif;
}

.contact-btn:hover {
  color: #333;
  cursor: pointer;
}


/* メインタイトル */
.main-title {
  padding: 250px 0;
}

.main-title h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.main-title h2 {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* インフォメーション */
.our-info {
  background-color: #74cfae;
  padding-top: 50px;
}

.our-info__contents-box {
  display: flex;
  justify-content: center;
}

.our-info__contents-box__text-box {
  width: 670px;
  margin-left: 100px;
}

.our-info__contents-box__text-box h3 {
  padding-top: 20px;
}

.our-info__contents-box__text-box p {
  margin-top: 35px;
}

/* 作品一覧 */
.show-works {
  padding: 60px 0 70px 0;
}

.our-works {
  margin-top: 40px;
}

.show-works .section-title{
  color: #333;
}

.our-works__list {
  display: flex;
  flex-wrap: wrap;
}

.our-works__list li {
  margin-left: 100px;
  margin-top: 80px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.our-works__list li:hover {
  opacity: 1;
  cursor: pointer;
}

.our-works__list li:nth-child(3n+1) {
  margin-left: 0;
}

.our-works__list li:nth-child(-n+3) {
  margin-top: 0;
}

.our-works__text-box {
  padding-top: 90px;
  display: flex;
  align-items: flex-start;
  width: 770px;
  margin: 0 auto;
}

.our-works__text-box p {
  color: #333;
}

.contact-btn.for-email {
  padding: 14px 20px;
  white-space: nowrap;
  margin-left: 90px;
}

/* スキル一覧 */
.our-skils {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.skills-list {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.skills-list__skill {
  margin-left: 180px;
  text-align: center;
}

.skills-list__skill:first-child {
  margin-left: 0;
}

.skills-list__skill-name {
  margin-top: 10px;
}

/* snsナビゲーション */
.navigation {
  padding: 200px 0;
}

.sns-links {
  display: flex;
  justify-content: center;
}

.sns-links__link {
  font-size: 50px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  width: 185px;
  transition: background-color 0.3s;
}

.sns-links__link:hover {
  background-color: #fff;
  cursor: pointer;
}

/* フッター */
.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
  text-align: right;
}
